/* Import for the font Hack. */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hack.min.css");

/* WinBox Global Styling */
.winbox {
  /* Set margin-top so that WinBox rests just under Toolbar. */
  margin-top: calc(2rem + 5px);
}

.winbox.min {
  /* Set margin-top to 0 so that WinBox tab appears on desktop when WinBox minimized. */
  margin-top: 0;
}

.wb-title {
  font-family: Menlo, "Hack", monospace !important;
  font-size: 0.9rem !important;
}

.wb-body {
  padding: 0 0.5rem;
  color: var(--black);
  font-size: 0.9rem;
}

/* Desktop App Styling */
#desktop-apps {
  margin: 0.5rem;

  /* Arrange desktop apps in gridbox. */
  display: grid;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px 72px;
  column-gap: 0.5rem;
}

#desktop-app {
  /* Center app icon and app name vertically. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#desktop-app p {
  margin-top: 0.4rem;
  font-size: 0.75rem;
}
