#bot-icon-and-message {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

#bot-icon {
  color: var(--dialogue-dark-blue);
  margin: 0.5rem 0;
}

#bot-message {
  flex-grow: 1;
  margin-right: 3rem;
  background: var(--dialogue-dark-blue);
  color: var(--white);
}
