#user-input-box {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

#user-input {
  flex-grow: 1;
  border-bottom: 0.75px solid var(--dialogue-dark-blue);
}

#user-input-arrow {
  color: var(--dialogue-dark-blue);
  cursor: pointer;
}

#user-input-arrow:hover {
  transform: scale(1.05);
}
