#input-box {
  padding-bottom: 1.5rem;
  margin-left: 1rem;
}

.fa-chevron-circle-right {
  color: #6daffe;
  margin-right: 1rem;
  cursor: pointer;
}

.fa-chevron-circle-right:hover {
  transform: scale(1.05);
}
