/* App and File Icon Grid Styling */
#app-file-icon-grid {
  grid-template-columns: 61px 61px 61px;
  grid-template-rows: 82px 82px 82px 82px 82px 82px 82px 82px 82px;
}

#app-file-icon-grid .grid-icon {
  font-size: 0.75rem;
}
