#terminal {
  height: 100%; /* Make the terminal take up the whole WinBox height so that if a user clicks anywhere in the WinBox, the cursor becomes focused. */
  overflow: auto; /* Ensures any overflow content still has dark background, even as terminal input increases. */
  white-space: pre-wrap; /* Allows use of \n for line breaks, as well as spaces. */

  background-color: var(--black);
  color: var(--white);
}

#gray-initial-terminal-output {
  color: var(--gray);
}

#older-terminal-output {
  color: var(--gray);
}

#terminal-prompt {
  font-weight: bold;
  display: flex;
}

#prompt-user {
  color: var(--orange);
}

#prompt-at {
  color: var(--gray);
}

#prompt-domain {
  color: var(--blue);
}

#terminal-input {
  /* Remove default input styling. */
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--white);

  /* Additional styling. */
  margin-left: 1rem;
  flex-grow: 1;
  font-size: 0.85rem;
  font-family: Menlo, "Hack", monospace;
  caret-color: var(--blue);
}
