/* Import for the font Hack. */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hack.min.css");

/* WinBox Global Styling */
.winbox {
  /* Set margin-top so that WinBox rests just under Toolbar. */
  margin-top: calc(2rem + 5px);
}

.winbox.min {
  /* Set margin-top to 0 so that WinBox tab appears on desktop when WinBox minimized. */
  margin-top: 0;
}

.wb-title {
  font-family: Menlo, "Hack", monospace !important;
  font-size: 0.9rem !important;
}

.wb-body {
  padding: 0 0.5rem;
  color: var(--black);
  font-size: 0.9rem;
}
