/* Import for the font Hack. */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hack.min.css");

/* WinBox Global Styling */
.winbox {
  /* Set margin-top so that WinBox rests just under Toolbar. */
  margin-top: calc(2rem + 5px);
}

.winbox.min {
  /* Set margin-top to 0 so that WinBox tab appears on desktop when WinBox minimized. */
  margin-top: 0;
}

.wb-title {
  font-family: Menlo, "Hack", monospace !important;
  font-size: 0.9rem !important;
}

/* Set title font color to black, used when header background is white. */
.custom-winbox-black-font .wb-title {
  color: var(--black);
}

/* Convert control SVGs to #282c34, used when header background is white. */
.custom-winbox-black-font .wb-control {
  /* brightness(0) saturate(100%) converts the SVG to black. */
  /* The rest converts a black SVG to #282c34. */
  /* See https://codepen.io/sosuke/pen/Pjoqqp for more information. */
  filter: brightness(0) saturate(100%) invert(13%) sepia(10%) saturate(1017%)
    hue-rotate(181deg) brightness(94%) contrast(89%);
}

.wb-body {
  padding: 0 0.5rem;
  color: var(--black);
  font-size: 0.9rem;
}

/* WinBox Image and Caption Styling */
.img p {
  margin-top: 0;
}

/* WinBox Image Styling for Text with Image on Right */
.img-right {
  display: flex;
}

.img-right img {
  margin-left: 0.3rem;
}
