#hal-9000-winbox-content {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertically center WinBox content. */
  gap: 0.4rem;

  text-align: center;
}

#warning-ok-button {
  height: 2.5rem;
  width: 40%;
}
