/* Import for the font Hack. */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hack.min.css");

body {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#terminal {
  height: 100vh; /* Maked the terminal take up the whole webpage height so that if a user clicks anywhere on the webpage, the cursor becomes focused. */
  margin: 3rem 3rem;
  white-space: pre-line; /* Allows use of \n for line breaks. */
}

#terminal-title-glow {
  color: var(--blue-text-color);
  text-shadow: 0 0 4px var(--blue-text-color);
}

#gray-initial-terminal-output {
  color: var(--gray-text-color);
}

#older-terminal-output {
  color: var(--gray-text-color);
}

#terminal-prompt {
  font-weight: bold;
  display: flex;
}

#prompt-user {
  color: var(--orange-text-color);
}

#prompt-at {
  color: var(--gray-text-color);
}

#prompt-domain {
  color: var(--blue-text-color);
}

#terminal-input {
  /* Remove default input styling. */
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--main-text-color);

  /* Additional styling. */
  margin-left: 1rem;
  flex-grow: 1;
  font-size: 1rem;
  font-family: Menlo, "Hack", monospace;
  caret-color: var(--blue-text-color);
}
