/* Import for the font Hack. */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hack.min.css");

/* Define custom properties for colors and font. */
:root {
  --black: #282c34;
  --white: white;
  --light-gray: #e6e6e6;
  --gray: #adadad;
  --dark-gray: #b5b4b4;
  --orange: #f79256;
  --blue: #61dafb;
  --light-blue: #b0ddea;
  --translate-blue: #3399ff;
  --dialogue-dark-blue: #6daffe;
  --dialogue-light-blue: #edf6ff;
  --light-green: #a6e8d9;
  --medium-green: #78dfcf;
  --font: "Hack";
}

html {
  /* Set font-size of root element in order to use rem for other elements and make those relative to the root font-size. */
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font), "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Override default styling for native HTML buttons. */
button {
  color: var(--white);
  padding: 0;
  margin: 0;
  border: hidden;
  width: 100%;
  background: none;
  outline: none;
  font-family: var(--font), "Courier New", monospace;
}

/* Custom button styling for this website. */
.custom-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1.5px solid var(--black);
  color: var(--black);

  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.3px;

  cursor: pointer;

  transition: all 0.5s;
}

.custom-button:hover {
  box-shadow: inset 5em 3em var(--medium-green);
}

/* Override default styling for native HTML input. */
input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 0.85rem;
  font-family: var(--font), "Courier New", monospace;
}

/* Override default styling for native HTML textarea. */
textarea {
  border: none;
  resize: none; /* Removes ability for user to click and drag to resize textarea. */
  overflow: hidden; /* Hides textarea scrollbar. */
  font-family: var(--font), "Courier New", monospace;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

/* Global Icon Grid Styling. Applies to AppFileIconGrid and SourcesWinBoxContent */
.grid {
  margin-top: 0.8rem;

  /* Arrange icons in gridbox. */
  display: grid;
  column-gap: 0.5rem;
}

.grid-icon {
  font-size: 0.75rem;

  /* Center icon and icon name vertically. */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* Make icon flush to top of flexbox column
     and icon name flush to bottom of flexbox column
     so icons are aligned at top and icon names at bottom. */
  justify-content: space-between;
  height: 100%;
}

/* Global Icon Grid Styling Inside WinBoxes. */
.custom-winbox .grid-icon {
  font-size: 0.65rem;
  color: var(--black);
  text-decoration: none;
}

/* Global Text Paragraph Styling. */
.text p {
  text-align: justify;
  text-justify: auto;
}
