/* Import for the font Hack. */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hack.min.css");

/* Define custom properties for colors. */
:root {
  --black: #282c34;
  --white: white;
  --gray: #adadad;
  --orange: #f79256;
  --blue: #61dafb;
  --light-blue: #b0ddea;
}

html {
  /* Set font-size of root element in order to use rem for other elements and make those relative to the root font-size. */
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Menlo, "Hack", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
