/* Override default styling for native HTML select element. */
select {
  font-family: var(--font), "Courier New", monospace !important;
  border: hidden;
  outline: none;
  appearance: none;
  width: 100%;
}

/* Custom Language Select Styling. */
#language-select {
  flex-grow: 1; /* Make the element expand to fit the #language-select-row flexbox. */

  height: 3rem;
  padding: 0 1rem;

  border: 1px solid var(--light-gray);
  border-radius: 10px;

  display: flex;
  align-items: center;
}

#language-select select {
  color: var(--translate-blue);
  font-weight: bold;
}

#language-select-down-arrow {
  color: var(--translate-blue);
}
